<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PathSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PathSaver.Properties.Settings>
            <setting name="WindowHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="WindowWide" serializeAs="String">
                <value>1280</value>
            </setting>
        </PathSaver.Properties.Settings>
    </userSettings>
</configuration>